<div *ngIf="!name; else formInfo">
  <form [formGroup]="rform" (ngSubmit)="addPost(rform.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Reactive Form</h1>
        <label>Name

          <input type="text" formControlName="name">
        </label>
        <div class="alert" *ngIf ="!rform.controls['name'].valid">This Field is required</div>
        <label>job

                      <textarea formControlName="job"></textarea>
                    </label>
                    <div class="alert" *ngIf ="!rform.controls['job'].valid">min character length 30 required</div>

        <input type="submit" class="button expanded" value="submit Form" [disabled]="!rform.valid">
      </div>

    </div>
  </form>
</div>

<ng-template #formInfo>


  <div class="form-container" *ngIf="user">
    <div class="row columns">
      <h3 class="subheader">ID : {{user.id}}</h3>
      <h3 class="subheader">Created At : {{user.createdAt}}</h3>
      <h3 class="subheader">User Name : {{user.name}}</h3>
      <h3 class="subheader">JOb Description : {{user.job}}</h3>
    </div>
  </div>
  <div style="margin-left:50%; margin-top:20%">
      <i *ngIf="!user" class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
      </div>
</ng-template>
